/*
Mac Doussias
CST 336 Homework 3 CSUMB
*/



body{
	background-color: #F5F5F5;
	color: black;
    text-align: center;
}

header{
    border: groove;
    border-width: 3px;
    background-color: #A52A2A;
    color: #FFFACD;
    font-family: cursive;
}


#mainDiv{
    text-align: left;
}

.textInput{
    width:300px; 
    height:20px;
    background-color: #FFFACD;
    border-radius: 3px;
    color: #2F4F4F;
    font-family: arial;
    font-size: 16px;
}

.image:hover{
    opacity:.25;
    transition: 0.4s;
}


#referencesText{
    color: orange;    
    font-family: Times;
}

a:visited{
    color: orange;
}

.nameText{
    font-variant: small-caps;
}

ul{
    font-weight: bold;
    font-size: 16px;
    font-family: sans-serif;
}

#specialNotes{
    font-size: 15px; 
    font-weight: lighter;
}

h2{
    color: #A52A2A;
    font-weight: bolder;
    font-size: 24px;
    font-family: sans-serif;
    text-shadow: 2px 2px black;
}


.errorMsg{
    color: red;
    font-variant: small-caps;
}

.pricingText{
    color: red; 
    font-size: 18px;
    font-family: monospace;
}

h3{
  color: orange;
  text-decoration: underline;
  font-family: Helvetica;
}

hr { 
    display: block;
    border-width: 3px;
    margin: auto;
    border-style: groove;

} 

#galaText{
    opacity: .5;
    font-family: Helvetica;
    font-size: 24px;
    color: gold;
    text-shadow: 1px 1px red; 
}

#receiptHeaderText{
  letter-spacing: 2px;
  word-spacing: 4px;
  color: #A52A2A;
  font-weight: bolder;
  font-size: 16px;
  font-family: sans-serif;
  text-shadow: 1.5px 1.5px black;
}

.asteriskText{
    font-weight: bolder;
    text-shadow: 1px 1px red;
}

label{
        font-weight: bolder;
        font-family: sans-serif;
        text-shadow: 1px 1px red;
        color: black;
}

#submitBtn{
    background-color: darkgray; 
    border: groove;
    color: black;
    font-size: 18px;
    padding: 15px 40px;
    text-decoration: underline;
    margin: 2px 2px;
    cursor: auto;
}