/*
Mac Doussias
CST 336 Homework 4 CSUMB
*/
#cat{
    position: absolute;
    width: 100px;
    height: 100px;
    z-index: 2;
}

#dog{
    position: absolute;
    width: 90px;
    height: 100px;
    z-index: 1;
}

.noSelect{
    user-select: none;
    -o-user-select: none;
    -moz-user-slect: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
}

/*
// ----------------------------------------------------------
//  ----  THIS CODE WAS REPLACED BY JQUERY STATEMENTS -------
// ----------------------------------------------------------


#btnMoveAnimals{
    position: absolute;
    width: 60px;
    top: 240px;
    left: 20px;
    z-index: 3;
}


body{
    background-color: silver;
}

.button{
    color: white;
    background-color: #FFAA00;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    cursor: hand;
    cursor: pointer;
}


.button:hover{
    background-color: #FF8800;
}


#gameWindow{
    position: relative;
    width: 500px;
    height: 300px;
    margin: 0 auto;
    background-color: black;
}

*/